<link rel="stylesheet" href="/static/css/resume.css">

{% include 'common/navbar_top.html' %}
<div class="container mt-5">
<div class="d-flex justify-content-end mt-3">
    <div class="col-md-4 d-flex align-items-end">
        <button id="downloadResumeBtn" class="btn btn-theme">Download Resume</button>
    </div>
</div>

<div id="resumePreview" class="mt-4">
    <div id="resumeContent">
        <!-- Preview of the resume based on the selected template will go here -->
    </div>
</div>
</div>

{% include 'common/footer.html' %}
<script type="module" src="/static/js/resume/resumePreviewController.js"></script>

